<article class='main' id="main">
    {{> nav }}

    <section class="links">
        <img src="/images/nitto.svg" alt="">

        <a target="_blank" href="https://www.instagram.com/nitto_game/" class="button ig"><i class="bi bi-instagram"></i> <span>Instagram</span></a>
        <a target="_blank" href="https://api.whatsapp.com/send?phone=584148780487" class="button ws"><i class="bi bi-whatsapp"></i> <span>WhatsApp</span></a>
        <a target="_blank" href="https://www.facebook.com/profile.php?id=100095104624125" class="button fb"><i class="bi bi-facebook"></i> <span>Facebook</span></a>
        <a target="_blank" href="https://discord.gg/zvDxHj3Nx8" class="button ds"><i class="bi bi-discord"></i> <span>Discord</span></a>

        <p>Nuestro sitio web oficial está en desarrollo!!!</p>

    </section>

    <footer>

            <img src="/images/eneba.png" alt="">

            <img src="/images/steam.png" alt="">

            <img src="/images/genshin.png" alt="">

            <img src="/images/honkai.png" alt="">

            <img src="/images/tower.png" alt="">

    </footer>
</article>